@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
body {
  background-image: url(img/bg.jpg);
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0; }

#home #new-game:hover {
  cursor: pointer; }

.card {
  border: 2px solid white;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100px;
  height: 130px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 50px;
  text-transform: uppercase;
  -webkit-user-select: none;
  display: inline-block;
  margin: 7px; }

#mine {
  background-color: #333333;
  color: #eeeeee;
  border: 2px solid black; }

.empty-card {
  width: 100px;
  height: 130px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 50px;
  color: white;
  text-transform: uppercase;
  -webkit-user-select: none;
  display: inline-block;
  margin: 7px; }

.gem {
  background-size: 177%;
  background-position: center; }

.emerald {
  background-image: url(img/emerald.png); }

.ruby {
  background-image: url(img/ruby.png); }

.diamond {
  background-image: url(img/diamond.png); }

.goblin {
  background-image: url(img/ex.png); }

.card:active {
  -webkit-transform: translate(1px, 1px); }

#mine:hover {
  cursor: pointer; }

#info {
  padding: 12px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
  font-size: 28px; }
  #info div {
    display: inline-block; }
  #info div:after {
    content: "";
    height: 100%;
    display: inline-block;
    border-right: 1px solid #dddddd;
    border-left: 1px solid white;
    margin: 0 10px; }
  #info img {
    margin-right: 10px; }
