body
  @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700)
  font-size: 14px
  font-family: Proxima Nova, sans-serif
  margin: 0
input
  box-sizing: border-box
#home
  text-align: center
  #new-game:hover
    cursor: pointer

#container
  width: 320px
  height: 100%
  position: absolute
  top: 0
  left: 0
  background-image: url(img/bg.jpg)
  z-index: 1
  -webkit-transition: -webkit-transform 0.5s
.card
  border: 2px solid #ffffff
  box-shadow: 1px 2px 6px rgba(0,0,0, 0.5)
  border-radius: 5px
  width: 95px
  height: 126px
  text-align: center
  box-sizing: border-box
  padding-top: 50px
  text-transform: uppercase
  -webkit-user-select: none
  display: inline-block
  margin: 5px 4px 5px 4px

#mine, #discarded
  background-image: url(img/mine.png)
  background-size: 177%
  background-position: center
  background-color: #333
  color: #eee
  border: 2px solid #333
  display: inline-block

#hand
  white-space: nowrap
  overflow-x: scroll
  height: 136px
  width: 100%

#mine, #hand
  position: relative

#game
  position: relative

.gem
  background-size: 177%
  background-position: center
  //top: -136px
  //transition: top 500ms, left 500ms

.emerald
  background-image: url(img/emerald.png)
.ruby
  background-image: url(img/ruby.png)
.diamond
  background-image: url(img/diamond.png)
.rock
  background-image: url(img/rock.png)
.goblin
  background-image: url(img/goblin.png)
.werewolf
  background-image: url(img/werewolf.png)
.triclops
  background-image: url(img/triclops.png)
.sword
  background-image: url(img/sword.png)
.axe
  background-image: url(img/axe.png)
.pickaxe
  background-image: url(img/pickaxe.png)
.thief
  background-image: url(img/thief1.png)

.card:active
  -webkit-transform: translate(1px, 1px)
#mine:hover
  cursor: pointer

#info
  padding: 7px 12px
  margin-bottom: 10px
  background-color: #eee
  box-shadow: 1px 2px 6px rgba(0,0,0, 0.5)
  font-size: 18px
  div
    display: inline-block
  img
    margin-right: 4px
    margin-bottom: -3px
  #draws, #plays, #points
    margin: 0 0 0 22px
  #end-turn-button
    float: right
  .info-button
    border: 1px solid #ccc
    border-radius: 4px
    padding: 4px
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
    border-bottom-color: #b3b3b3
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
    background-image: linear-gradient(to bottom, #efefef, #dfdfdf)
    background-repeat: repeat-x
  .info-button:hover
    cursor: pointer
  .disabled
    color: #ccc
  #players
    margin-top: 6px
    text-align: center
    width: 100%
    .player
      max-width: 90px
      white-space: nowrap
      overflow: hidden
    .player:nth-child(1)
      float: left
    .player:nth-child(3)
      float: right
    .player.false
      color: #bbb

.button
  display: inline-block
  background-color: #5BBAE9
  border: 1px solid rgba(0, 0, 0, .2)
  border-radius: 5px
  box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .3) inset, 0 2px 4px rgba(0, 0, 0, .2)
  color: #FFF
  cursor: pointer
  font-size: 15px
  font-weight: bold
  margin-bottom: 20px
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .3) inset, 0 2px 4px rgba(0, 0, 0, .2)
  -moz-transition: background-color .2s linear 0
  padding: 11px 11px 14px 11px
  text-align: center
  text-shadow: 0 -1px rgba(0, 0, 0, .2)
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -3px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .3) inset, 0 2px 4px rgba(0, 0, 0, .2)
  -webkit-transition: background-color .2s linear 0
  margin-top: 20px

button:active
  box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .2) inset, 0 2px 4px rgba(0, 0, 0, .2)
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .2) inset, 0 2px 4px rgba(0, 0, 0, .2)
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .2) inset, 0 2px 4px rgba(0, 0, 0, .2)
  padding: 11px 0 12px
  margin-top: 22px

#players
  font-size: 16px

.ui-draggable-dragging
  z-index: 99

#droppable-one, #droppable-two
  display: inline-block
  #discarded, #played
    position: absolute
    top: 0
    left: 104px
    .card
      margin-right: -99px
      //box-shadow: none
      box-shadow: 1px 2px 6px rgba(0,0,0, 0.5)
  #played
    left: 0
  .empty-card
    border: 1px dashed #eee
    border-radius: 5px
    width: 95px
    height: 126px
    box-sizing: border-box
    padding-top: 50px
    -webkit-user-select: none
    display: inline-block
    margin: 5px 4px 5px 4px
    position: relative

#log
  position: absolute
  top: 359px
  bottom: 0
  width: 320px
  box-sizing: border-box
  overflow: scroll
  background-color: #FFF
  color: #333
  font-size: 16px
  padding: 10px

#shop
  width: 110px
  box-sizing: border-box
  background-color: #333
  padding-left: 4px
  position: absolute
  top: 0
  bottom: 0
  left: 0
  overflow: scroll

#chat
  .message
    width: 100%

input-placeholder
  color: #eee

p
  margin: 4px 0

